﻿@model IEnumerable<Example2.Models.User>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>@Html.LabelFor(model => model.FirstOrDefault().FirstName)</th>
        <th>LastName</th>
        <th>DOB</th>
        <th>Age</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>@Html.DisplayFor(model => item.FirstName)</td>
        <td>@Html.DisplayFor(model => item.LastName)</td>
        <td>@Html.DisplayFor(model => item.DOB)</td>
        <td>@Html.DisplayFor(model => item.Age)</td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
