﻿
@{
    ViewBag.Title = "Page 1";
}

<h2>Page 1</h2>

<p>Example of sending dynamic data from the server to the client.</p>

<div class="row">
    <div class="col-md-6">
        <table class="table table-striped">
            @foreach(var s in ViewBag.data)
            {
                <tr><td>@s</td></tr>
            }
        </table>
    </div>
</div>