﻿
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form>
    <input id="Number" name="Number" type="number" value="10" />
    <input id="request" type="button" name="request" value="Request" />
</form>

<div id="Message"></div>
<div id="Count"></div>
<div id="Values"></div>
<div id="Average"></div>

@section PageScripts
{
    <script type="text/javascript" src="~/Scripts/numbers.js"></script>
}
