﻿@model Example3CodeYeah.ViewModels.MainViewModel
@*
    @model IEnumerable<Example3CodeYeah.Models.Product>
*@

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TheProducts.FirstOrDefault().Supplier.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TheProducts.FirstOrDefault().ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TheProducts.FirstOrDefault().UnitPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TheProducts.FirstOrDefault().Package)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TheProducts.FirstOrDefault().IsDiscontinued)
        </th>
        <th>Order Item count</th>
        <th></th>
    </tr>

@foreach (var item in Model.TheProducts) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Supplier.CompanyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Package)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsDiscontinued)
        </td>
        <td>@Html.DisplayFor(modelItem => item.OrderItems.Count)</td>
        <td>

        </td>
    </tr>
}
</table>

@foreach (var item in Model.TheSuppliers)
{
    <p>@item.CompanyName</p>
}